<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParserAutoFromAvito.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ParserAutoFromAvito.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>https://www.avito.ru/moskva/avtomobili/s_probegom?p=1&amp;i=1</value>
            </setting>
            <setting name="MaxPrice" serializeAs="String">
                <value>250000</value>
            </setting>
            <setting name="fromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="toAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="fromPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="long_time" serializeAs="String">
                <value>30</value>
            </setting>
        </ParserAutoFromAvito.Properties.Settings>
    </userSettings>
</configuration>